doctype html
html
  head
    style
      include ../public/stylesheets/style.css
    script
      include ../public/javascripts/jquery-min.js

    title= 'StoryTree'
  body.simple
      block header
      block content
