extends layout

mixin renderTree(obj, treeJson)
  span #{obj.body}
  div.children
    -for (var child in treeJson[obj.id])
      +renderTree(treeJson[obj.id][child], treeJson)

block content
  div
    +renderTree(treeJson["root"], treeJson)
