extends layout

mixin renderTree(snip, treeJson)
  a.snippet(href="/snippets/#{snip.id}") #{snip.body}
  div.children
    -for (var child in treeJson[snip.id])
      +renderTree(treeJson[snip.id][child], treeJson)

block content
  div
    +renderTree(treeJson["root"], treeJson)
